/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/09/2014, 16:40:06
    Author     : Rodolfo
*/

$siteWidth: 800px;
$mainColor: #3864a0;
$altColor: #121422;
$colorLogo : #fcfcf4;
$siteBg : #0b0b0d;
$mainFont: 'Oswald', sans-serif;
$contentPadding: 60px;
